html {
    scroll-behavior: smooth;
}

body {
    background-color: #F5F5F5;
}

.title-name {
    position: fixed;
}

header {
    display: flex;
    justify-content: center;
}

.header-list {
    display: flex;
    margin-top: 3.5%;
}

.options-header {
    white-space: nowrap;
    padding: 3.5%;
    font-size: 1.3rem;
    font-weight: 700;
}

.options-header a {
    background:
      linear-gradient(
        to right,
        rgba(100, 200, 200, 1),
        rgba(100, 200, 200, 1)
      ),
      linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}
  
.options-header a:hover {
    background-size: 0 3px, 100% 3px;
}

.option-socials a {
    background:
      linear-gradient(
        to right,
        rgba(100, 200, 200, 1),
        rgba(100, 200, 200, 1)
      ),
      linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
} 
.option-socials a:hover {
    background-size: 0 3px, 100% 3px;
}

.introduction {
    width: 100%;
    display: flex;
    margin-top: 4%;
    align-items: center;
    padding: 2%;
}


.presentation h1 {
    font-size: 3.2em;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.767);
    margin-bottom: 2%;
}

.socials {
    display: flex;
    max-width: 60%;
    justify-content: space-around;
    font-weight: 600;
    margin-top: 2%;
    font-size: 1.2rem;
}


.profile img {
    width: 90%;
    min-width: 250px;
    border-radius: 50%;
}

#about-me{
    margin-top: 4%;
    padding: 3%;
    background-color:#EAF2FD ;
}

#about-me h2 {
    line-height: 2em;
}

#about-me p {
    font-size: 1.2rem;
    width: 65%;
}

#skills-hobbies {
    text-align: center;
    margin-top: 3%;
}

#skills-hobbies img {
    max-width: 45px;
}

.skills-container {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.skills {
    height: 25vh;
    width: 10vw;
    background-color: #FFFFFF;
    padding: 1%;
}

.skills p {
    text-align: center;
    font-weight: 700;
    font-size: 1.3em;
}

#skills-hobbies h2 {
    margin-top: 5%;
}

.hobbies-container {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}

.hobbies {
    height: 25vh;
    width: 10vw;
    background-color: #FFFFFF;
    padding: 1%;
}

.hobbies p {
    text-align: center;
    font-weight: 700;
    font-size: 1.3em;
}

#certifications {
    background-color: #EAF2FD;
    margin-top: 8%;
    padding-bottom: 3%;
}

#certifications h2 {
    text-align: center;
    padding: 3%;
}

.certifications-container {
    display: flex;
    justify-content: space-around;
}

.cards-img {
    height: 35vh;
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}

#exp-professional {
    margin-top: 3%;
}

#exp-professional h2 {
    text-align: center;
}

.exp-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
}

.experience-img img {
    width: 50vw;
}

.experience-links {
    margin-left: 1%;
    line-height: 2.5em;
    white-space: nowrap;
    width: 20vw;
}

.btn-repository {
    border: 1px solid;
    border-radius: 2%;
    color: white;
    font-weight: 700;
    background-color: #1c5560;
    margin-top: 1%;
    padding: 5%;
}

.btn-repository:hover {
    transition: 0.8s ease-in-out;
    box-shadow: inset 0 0 0 25px rgb(0, 0, 0);
}

.btn-show-demo {
    border: 1px solid;
    border-radius: 2%;
    font-weight: 700;
    color: white;
    background-color: #001f36;
    padding: 5%;
}

.btn-show-demo:hover {
    box-shadow: inset 0 0 0 25px #000000;
    transition: 0.8s ease-in-out;
}

#contact-container {
    background-color: #EAF2FD;
    margin: 3% 0 3% 0;
    display: flex;
    justify-content: center;
}

.contact {
    margin-top: 3%;
    padding: 2%;
    border: 5px double #1c5560;
    border-radius: 5%;
    text-align: center;
}

.contact h1 {
    color: #001f36;
    margin-bottom: 1%;
    font-size: 2.2em;
}

.contact p {
    color: #001f36;
    font-size: 1.1em;
}

.contact-form textarea {
    resize: none;
}

.label-inputs {
    color: #001f36;
    display: block;
    margin: 0.5em;
    font-weight: bold;
    font-size: 1.1em;

} 

.contact-inputs {
    width: 25rem;
    border: 1px solid black;
    font-size: 1em;
    font-weight: bold;
    border-radius: 2%;
    padding: 0.8rem;
}

textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.contact-inputs::placeholder {
    color: rgba(0, 0, 0, 0.671);
    font-weight: bold;
}

#btn-submit {
    border: 1px solid;
    border-radius: 2%;
    color: white;
    font-size: 1.3em;
    cursor: pointer;
    font-weight: 700;
    background-color: #1c5560;
    padding: 3%;
    margin-top: 1rem;
    width: 20rem;
}

#btn-submit:hover {
    box-shadow: inset 0 0 0 35px #000000;
    transition: 0.8s ease-in-out;
}


.message-error {
    color: red;
    font-size: 0.9rem;
}



@media screen and (max-width: 480px) {
    
    .title-name {
        font-size: 2rem;
    }

    .header-list {
        display: block;
        margin-top: 3rem;
    }
    .options-header {
        font-size: 2.3rem;
        padding: 10%;
    }

    .introduction {
        text-align: center;
        display: block ;
    }

    .introduction p {
        font-size: 1.8rem;
        margin-bottom: 5%;
    }

    .socials {
        display: block;
    }

    .option-socials {
        font-size: 1.8rem;
        padding: 5%;
        margin-left: 50%;
    }

    #about-me {
        text-align: center;
        font-size: 1.6rem;
    }

    #about-me p {
        width: 100%;
        font-size: 1.5rem;
    }

    #skills-hobbies h2 {
        font-size: 2rem;
    }

    .skills-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skills {
        padding: 10%;
        margin: 2%;
        min-width: 320px;
    }

    .skills p {
        font-size: 1.6rem;
    }

    .skills img {
        width: 100%;
    }

    .hobbies-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hobbies {
        padding: 10%;
        margin: 2%;
        min-width: 320px;
    }

    .hobbies p {
        font-size: 1.6rem;
    }

    .hobbies img {
        width: 100%;
    }

    #certifications h2 {
        font-size: 2rem;
        padding: 8%;
    }

    .certifications-container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .cards-img {
        width: 100%;
    }

    .cards {
        font-size: 1.6rem;
        padding: 4%;
    }

    #exp-professional h2{
        font-size: 1.8rem;
        padding: 4%;
    }

    .exp-container {
        display: flex;
        flex-direction: column-reverse;

    }

    .exp-container img {
        width: 100%;
    }

    .experience-links {
        width: 100%;
        text-align: center;
        margin-bottom: 5%;
    }
    .buttons-exp {
        display: flex;
        justify-content: space-around;
        font-size: 1.5rem;
    }

    .title-exp-prof {
        font-size: 1.8rem;
    }

    .txt-exp-prof {
        font-size: 1.5rem;
        margin-bottom: 2%;
    }

    #contact-container {
        display: inline-block;
        width: 100%;
        padding: 2%;
    }

    .contact {
        font-size: 1.4rem;
        border: none;
    } 

    .contact-inputs {
        width: 100%;
    }


}
